@import url('https://fonts.googleapis.com/css2?family=Simonetta&family=Sacramento&display=swap');

:root {
  --green: #17610b;
  --purple: #2a1638;
  --lightpurple: rgba(42, 22, 56, .2);
  --gold: #e2ca13;
  --lightgrey: #555555;
  --decorative-font: 'Simonetta';
  --logo-font: 'Sacramento', cursive;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--green); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, p {
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 120%;
}
/* Mobile vs Destop */
.mobile-block,
.mobile-inline,
.mobile-grid {
  display: none;
}
.desktop-block {
  display: block;
}
.desktop-inline {
  display: inline-block;
}
.desktop-grid {
  display: grid;
}
@media screen and (max-width: 640px){
  .desktop-block,
  .desktop-inline,
  .desktop-grid {
    display: none;
  }
  .mobile-block {
    display: block;
  }
  .mobile-inline {
    display: inline-block;
  }
  .mobile-grid {
    display: grid;
  }
}
/* Deck */
.dealtCard:hover {
  transform: scale(1.25);
}

#shuffle {
  display: none;
}

.dealtCard {
  transition: all 2s;
}
.dealDeck, .shuffleDeck{
  margin-left: -100px!important;
  transition: all .5s;
}

.shuffleDeck:first-of-type {
  margin-left: 0!important;
}
@media only screen and (max-width: 900px) {
  .dealDeck, .shuffleDeck{
    margin-left: -20vw!important;
    transition: all 1.5s;
  }
}

/* Logo */
.logo-first {
  color: var(--purple);
}
.camo-logo {
  font-family: var(--logo-font);
  font-weight: thin;
  color: var(--purple);
  opacity: 0;
  transition: all 1.5s;
  margin-left: -5px;
}
.camo-logo:first-of-type {
  margin-left: 0;
}
.show-logo {
  opacity: 1;
  transition: all 1.5s;
  position: relative;
  margin-left: 0px;
}

/* Nav Menu */
#menu.active {
  max-width: 40vw;
}

.active {
  max-height: 100vh;
  width: 100%;
  height: 100%;
  transition: .8s ease-in-out;
}
#menu.inactive {
  max-height: 100vh;
  font-size: 1px;
  color: transparent!important;
}
.inactive {
  max-width: 0;
  transition: .8s ease-in-out;
  transition-delay: .3s!important;
}
.nav-active {
  color:var(--purple) !important;
}
@media screen and (max-width: 945px){
  #menu.active {
    max-width: 100vw;
  }
}